Video Presentation Creation/CA3_DataScience_Presentation.prproj
Video Presentation Creation/Adobe Premiere Pro Auto-Save/CA3_DataScience_Presentation.prproj
Video Presentation Creation/CA3_Video_Presentation.mp4
